/*@font-face {
	font-family: 'Courgette';
	src: url('../fonts/Courgette-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}*/
@font-face {
	font-family: 'Courgette';
	src: url('../fonts/Courgette-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
html {
    font-size: 18px;
    color: #444;
    font-family: 'Source Code Pro', sans-serif;
}
body {
    max-width: 980px;
	margin-left:auto;
	margin-right:auto;
    line-height: 1.5;
}
h1, h2, h3 {
    text-align:center;
    font-family: 'Courgette', sans-serif;
}
h1 {
    font-size: 2.22rem;
    color: #003884;
}
h2 {
    font-size: 1.94rem;
    color: #4f89b9;
}
h3 {
    font-size: 1.39rem;
    color: #003884;
}
.menu {
    font-size: 1.11rem;
    color: #003884;
    font-family: 'Courgette', sans-serif;
}
.menu li a {
    text-decoration: none;
}
.menu li a:visited {
    color: #003884;
}
.citation {
    font-size: 1.39rem;
    background-color: #d7e1ef;
    font-family: Courgette, sans-serif;
    text-align: center;
    color: #003884;
}
.footer {
    border-top: 2px;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    border-color: #003884;
    border-style: solid;
    text-align: center;
}
strong {
    color: #003884;
}
em {
    color: #4f89b9;
}
.copyright {
    font-size: 0.78rem;
}
.clear {
    clear:both;
}
/*************** IMAGES ***************/
.logo {
    display: block;
    margin-left: auto;
    margin-right: auto
}
.new_york {
    display: block;
    margin-left: auto;
    margin-right: auto
}
.drapeau {
    float:right;
    margin-left: 1em;
}
.statue {
    float:left;
    margin-right: 1em;
}
.bridge {
    float:right;
    margin-left: 1em;
}
.taxi {
    float:left;
    margin-right: 1em;
}
/*********** RESEAUX SOCIAUX ***********/
.fa-brands {
    color: #003884;
}
.taille_picto {
    font-size: 1.67rem;
}